
*{
    font-family: 'Nunito', sans-serif;
}



body{
    font-family: 'Nunito', sans-serif;
    .ServiciosTitle{
        margin-top: 5%;

    }

    .ProyectoTitle{
        margin-top: 10%;
    }
}


@media (max-width: 990px) {
   
body{
        font-family: 'Nunito', sans-serif;
        .ServiciosTitle{
            margin-top: 10%;

        }

        .ProyectoTitle{
            margin-top: 15%;
        }
    }


  }
