* {
    font-family: 'Nunito', sans-serif;
}

//------------------------------------------Desktop Styles------------------------//
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .NotFoundDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5%;
        text-align: center;
        .h1{
            font-weight: bold;
            font-size: 5rem;
            color: #007BFF;
        }
    }

    .carrera{
        color: #FF6900;
    }

    .card-title {
        display: flex;
        justify-content: center;
        img {
            width: 50px;
        }

        .imgPerson {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-top: 20%;
            background-color: red;
            img {
                width: 100%;
            }
        }
    }

    .card-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    font-family: 'Nunito', sans-serif;

    .MainBar {
        width: 100%;
        max-width: 1440px;
        display: flex;
        padding: 1.5%;
        .brandDescription {
            width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            a {
                text-decoration: none;
                img {
                    width: 70px;

                }
            }
            .linkDescription {
                margin-left: 1%;
                margin-bottom: 25px;
                text-decoration: none;
                color: black;
                font-size: larger;
            }
        }
        .buttonContact {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }

    .ServiciosTitle {
        margin-top: 7%;
        max-width: 1440px;
    }

    .ProyectoTitle {
        max-width: 1440px;
        width: 100%;
        margin-top: 5%;
    }

    .tarjetas {
        max-width: 1440px;
        .cardService {
            a {
                text-decoration: none;
            }
        }

    }

    .ContactanosBottom {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 13%;
        a {
            width: 250px;
            display: flex;
            justify-content: center;
            text-decoration: none;
            span {
                width: 70%;
                font-size: larger;
                img {
                    width: 20px;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #01012F;
        margin-top: 200px;
        .mainFooter {
            max-width: 1440px;
            width: 100%;
            color: white;
            display: flex;
            padding: 2% 0 1.5% 1%;
            .leftContent {
                width: 50%;
                display: flex;
                flex-direction: column;
                .nosotrosTitle {
                    width: 30%;
                    height: 30%;
                    margin-bottom: 2%;
                    font-size: larger;
                    font-weight: 700;
                    border-left: 3px solid #007BFF;
                    margin-left: 2.5%;
                    padding-left: 1.7%;
                    display: flex;
                    padding-top: 2%;
                }

                .nosotrosInfo {
                    width: 100%;
                    display: flex;
                    padding-left: 2%;
                    .one {
                        width: 50%;
                        padding-top: 2%;
                        a {
                            text-decoration: none;
                            color: #FF6900;
                        }
                        p {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            img {
                                margin-right: 4%;
                                width: 16px;
                            }
                        }
                    }
                }
            }

            .centerContent {
                width: 20%;
                .nosotros {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: #FF6900;
                    }

                    .top {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-left: 3px solid #007BFF;
                        padding-left: 5%;
                        padding-top: 4%;
                    }
                    .bottom {
                        padding-bottom: 25%;
                    }
                }
            }

            .rightContent {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 2px solid #007BFF;
            }
        }
    }

    //-------------------------Formulario de contacto-----------------//
    .contactForm {
        max-width: 1440px;
        width: 100%;
        margin-top: 3%;
        padding-left: 2.4%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        form {
            width: 55%;
        }
    }

    //-----------------------------Landig Pages-------------------------//
    .mainTitleLandings {
        max-width: 1440px;
        margin: 0 4%;
        border-bottom: 2px solid gray;
        margin-top: 5%;
        .h1 {
            font-size: 3rem;
            color: #007BFF;
            font-weight: 800;
        }
    }

    .landingBanner {
        max-width: 1440px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        margin-top: 5%;
        .imgBanner {
            width: 30%;
            .roundedDiv {
                background-color: orange;
                height: 300px;
                width: 300px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 50%;
                background-size: 100% auto;
                img {
                    width: 100%;
                }
            }
        }

        .infoBanner {
            width: 70%;
            .h2 {
                color: #FF6900;
            }
            a {
                text-decoration: none;
            }
        }
    }

    .SubTitle {
        max-width: 1440px;
        display: flex;
        align-self: center;
        justify-content: flex-start;
        margin-top: 10%;
        padding-left: 10.5%;
    }

    .callToAction {
        width: 80%;
        max-width: 1440px;
        display: flex;
        align-self: center;
        margin-top: 10%;
        .callText {
            width: 70%;
            display: flex;
            flex-direction: column;
            .h2 {
                color: #FF6900;
            }
        }
        .callButton {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                font-size: large;
            }
        }
    }

    .FrequentQuestions {
        width: 80%;
        max-width: 1440px;
        margin-top: 5%;
        .FrequentQuestionsTitle {
            width: 100%;
            .h2 {
                color: #01012F;
            }
        }
        .FrequentQuestionsList {
            h5 {
                color: black;
            }

            li {
                color: #FF6900;
                font-size: large;
                span {
                    color: rgb(80, 76, 76);
                    font-size: large;
                }
            }
        }
    }
}

//------------------------------------------Media Qquery responsive------------------------//
@media (max-width: 991px) {

    body {

        font-family: 'Nunito', sans-serif;

        .contactForm {
            width: 100%;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                text-align: center;
                margin-bottom: 5%;
            }
            form {
                width: 90%;
                button {
                    align-self: center;
                    width: 100%;
                }
            }
        }

        .MainBar {
            width: 100%;
            flex-direction: column;
            .brandDescription {
                width: 100%;
                align-items: center;
                margin: 5% 0 3%;
                .linkDescription {
                    margin-top: 5%;
                }
                a {
                    text-decoration: none;
                    color: black;
                    font-size: large;
                    img {
                        width: 90px;
                        height: 90px;
                    }
                }

            }
            .buttonContact {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }

        .ServiciosTitle {
            margin-top: 8%;
        }

        .ProyectoTitle {
            margin-top: 5%;
        }

        .footer {
            .mainFooter {
                flex-direction: column;
                padding: 0;
                .leftContent {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .nosotrosTitle {
                        width: 54%;
                        font-weight: 700;
                        border-bottom: 3px solid #007BFF;
                        border-left: 0;
                        margin-top: 5%;
                        padding: 0;
                    }

                    .nosotrosInfo {
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-top: 5%;
                        .one {
                            width: 55%;
                            p {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                img {
                                    margin-right: 4%;
                                    width: 16px;
                                }

                            }
                        }
                    }
                }

                .centerContent {
                    width: 100%;
                    .nosotros {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            color: #FF6900;
                        }

                        .top {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-left: 0;
                            padding-left: 0;
                            padding-top: 0;
                            margin-top: 10%;
                        }
                        .bottom {
                            padding-bottom: 25%;
                        }
                    }
                }
                .rightContent {
                    width: 100%;
                    margin-top: -15%;
                    border-left: 0;
                    p {
                        text-align: center;
                        width: 40%;
                        margin-top: 5%;
                        padding-top: 5%;
                        padding-bottom: 5%;
                        border-top: 3px solid #007BFF;
                    }
                }
            }
        }

        .landingBanner {
            flex-direction: column;
            justify-content: space-around;
            margin-top: 20%;
            .imgBanner {
                width: 100%;
                .roundedDiv {
                    margin: auto;
                }
            }

            .infoBanner {
                width: 100%;
                margin-top: 10%;
                text-align: center;
                .h2 {
                    color: #FF6900;
                    margin-bottom: 10%;
                }
                a {
                    text-decoration: none;
                    margin-top: 10%;
                }
            }
        }

        .SubTitle {
            max-width: 1440px;
            display: flex;
            align-self: center;
            justify-content: center;
            margin-top: 25%;
            padding-left: 0;
        }

        .callToAction {
            flex-direction: column;
            margin-top: 20%;
            text-align: center;
            .callText {
                width: 100%;
                justify-content: space-between;
            }
            .callButton {
                width: 100%;
                margin-top: 5%;
                margin-bottom: 10%;
            }
        }

        .mainTitleLandings {
            .h1 {
                font-size: 2.5rem;
            }
            .h4 {
                margin-top: 5%;
                font-size: 1.3rem;
            }
        }

    }

}
