<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iqiss Mèxico</title>

        <!--EStilos CSS Personzalizados-->
        <link rel="stylesheet" href="../css/ownStyles.css">

        <!--EStilos CSS de Boostrap-->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!--Google Fonts Nunito-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    </head>
    <body>

        <!--Barra de Navegaciòn-->
        <nav class="MainBar">

            <div class="brandDescription">
                <a class="" href="../index.html">
                    <img src="../IMG/iqissLogoNombre.png" alt="">
                </a>
                <a class="linkDescription" href="../index.html">
                    <span class="">Soluciones simples, efectivas y accesibles</span>
                </a>
            </div>

            <div class="buttonContact">
                <a class="" href="./contact.html">
                    <span class="badge badge-pill badge-primary p-2">
                        <img class="mr-1" src="../IMG/phone.png" alt="">
                        Contactanos
                    </span>
                </a>
            </div>

        </nav>
        

         <!--Formulario de Contacto-->
        <div class="contactForm">
            <p class="text-lead">Envíanos un correo para ponernos en contacto, nosotros te responderemos a la brevedad.</p>
            <form class="font-weight-bold"> 
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre Completo<span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Correo Electrònica<span class="text-danger">*</span></label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Coemntario o Mensaje<span class="text-danger">*</span></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>


        <!--Pie de pàgina-->
        <div class="footer">
            <div class="mainFooter">
                <div class="leftContent">
                    <div class="nosotrosTitle">
                        <p>Nosotros</p>
                    </div>
                    <div class="nosotrosInfo">
                        <div class="one">
                            <p>
                                <img src="../IMG/phoneBLue.png" alt="iqiss telefono">
                                +52 314 156 0219
                            </p>
                            <p>
                                <img src="../IMG/time.png" alt="iqiss horario">
                                Horario 9:00 - 18:00 HRS
                            </p>
                        </div>
                        <div class="one">
                            <p>
                                <img src="../IMG/map.png" alt="iqiss ubicacion">
                                Villa de Alvarez, Colima, MX

                            </p>
                            <p>
                                <img src="../IMG/email.png" alt="iqiss email">
                                servicioalcliente@iqissmexico.com.mx
                            </p>
                        </div>
                    </div>
                </div>
                <div class="rightContent">
                    <p>Copyright © 2022 IQISS Mexico</p>
                </div>
            </div>
        </div>

        <!--Scripts JS de bootstrap-->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>