<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iqiss Mèxico</title>
        
        <!--Meta Tags-->
        <meta property=”og:type” content="article"/>
        <meta property=”og:title” content="Iqiss México" />
        <meta property=”og:description” content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales."/>
        <meta property=”og:image” content="../IMG/iqissLogoNombre.png"/>
        <meta property=”og:url” content="https://iqissmexico.com.mx/"/>
        <meta property=”og:site_name” content="Iquiss México" />
    
        <meta name=”twitter:title” content="Iquiss México">
        <meta name=”twitter:description” content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales.">
        <meta name=”twitter:image” content="../IMG/iqissLogoNombre.png">

        <!--EStilos CSS Personzalizados-->
        <link rel="stylesheet" href="../css/ownStyles.css">

        <!--EStilos CSS de Boostrap-->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!--Google Fonts Nunito-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    </head>

    <body>

        <!--Barra de Navegaciòn-->
        <nav class="MainBar">

            <div class="brandDescription">
                <a class="" href="../index.html">
                    <img src="../IMG/iqissLogoNombre.png" alt="">
                </a>
                <a class="linkDescription" href="../index.html">
                    <span class="">Soluciones simples, efectivas y accesibles</span>
                </a>
            </div>

            <div class="buttonContact">
                <a class="" href="../views/contact.html">
                    <span class="badge badge-pill badge-primary p-2">
                        <img class="mr-1" src="../IMG/phone.png" alt="">
                        Contactanos
                    </span>
                </a>
            </div>
        </nav>




        <!--Páginas Web titulo-->
        <div class="mainTitleLandings text-center">
            <p class="h1">
                Iquiss México
            </p>
            <p class="h4">
                Conoce al equipo
            </p>
        </div>


        <!--Cards-->
        <div
            class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img class="avatar" src="../IMG/avatar.png" alt=""></h5>
                    <h5 class="card-title text-primary">Nombre 1</h5>
                    <p class="card-text" style="height: 85px;">Puesto</p>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img class="avatar" src="../IMG/avatar.png" alt=""></h5>
                    <h5 class="card-title text-primary">Nombre 1</h5>
                    <p class="card-text" style="height: 85px;">Puesto</p>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img class="avatar" src="../IMG/avatar.png" alt=""></h5>
                    <h5 class="card-title text-primary">Nombre 1</h5>
                    <p class="card-text" style="height: 85px;">Puesto</p>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img class="avatar" src="../IMG/avatar.png" alt=""></h5>
                    <h5 class="card-title text-primary">Nombre 1</h5>
                    <p class="card-text" style="height: 85px;">Puesto</p>
                </div>
            </div>
        </div>


        <!--Call To Action 2-->
        <div class="callToAction">
            <div class="callText">
                <p class="h2 font-weight-bold">Envìanos un mensaje hoy</p>
                <p class="h5">Escríbenos para más información y nosotros te contactaremos a la brevedad.</p>
            </div>
            <div class="callButton">
                <a class="border border-primary p-3 badge badge-pill" href="./contact.html">Me interesa un sitio web</a>
            </div>
        </div>


        <!--Pie de pàgina-->
        <div class="footer">
            <div class="mainFooter">
                <div class="leftContent">
                    <div class="nosotrosTitle">
                        <p>Nosotros</p>
                    </div>
                    <div class="nosotrosInfo">
                        <div class="one">
                            <p>
                                <img src="../IMG/phoneBLue.png" alt="iqiss telefono">
                                +52 314 156 0219
                            </p>
                            <p>
                                <img src="../IMG/time.png" alt="iqiss horario">
                                Horario 9:00 - 18:00 HRS
                            </p>
                        </div>
                        <div class="one">
                            <p>
                                <img src="../IMG/map.png" alt="iqiss ubicacion">
                                Villa de Alvarez, Colima, MX

                            </p>
                            <p>
                                <img src="../IMG/email.png" alt="iqiss email">
                                servicioalcliente@iqissmexico.com.mx
                            </p>
                        </div>
                    </div>
                </div>

                <div class="centerContent">
                    <div class="nosotros">
                        <div class="top">
                            <p class="font-weight-bold border-bottom-warning lead">
                                Acerca de Nosotros
                            </p>
                        </div>
                        <div class="bottom">
                            <a class="link" href="./nosotros.html">Conoce al equipo!</a>
                        </div>
                    </div>
                </div>

                <div class="rightContent">
                    <p>Copyright © 2022 IQISS Mexico</p>
                    <span>Salvador Gonzalez Galindo</span>
                </div>
            </div>
        </div>

        <!--Scripts JS de bootstrap-->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>