<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iqiss Mèxico</title>

        <!--Metatags Generales-->
        <meta
            name="description"
            content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales.">
        <meta
            name="keywords"
            content="Iquiss México, Páginas web, Manejo de redes sociales, Agentes Virtuales, Desarrollo de Software, expertos, diseñadores creativos, ui/ux">
        <meta name="author" content="Salvador Gonzalez Galindo">

        <!--Meta Tags-->
        <meta property="”og:type”" content="article"/>
        <meta property="”og:title”" content="Iqiss México"/>
        <meta
            property="”og:description”"
            content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales."/>
        <meta property="”og:image”" content="/IMG/iqissLogoNombre.png"/>
        <meta property="”og:url”" content="https://iqissmexico.com.mx/"/>
        <meta property="”og:site_name”" content="Iquiss México"/>

        <meta name="”twitter:title”" content="Iquiss México">
        <meta
            name="”twitter:description”"
            content="Soluciones simple, efectivas y accesibles. Empresa dedicada al desarollo de páginas web, manejo de redes sociales y agentes virtuales.">
        <meta name="”twitter:image”" content="/IMG/iqissLogoNombre.png">

        <!--EStilos CSS Personzalizados-->
        <link rel="stylesheet" href="/css/ownStyles.css">

        <!--EStilos CSS de Boostrap-->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!--Google Fonts Nunito-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    </head>

    <body>

        <!--Barra de Navegaciòn-->
        <nav class="MainBar">

            <div class="brandDescription">
                <a class="" href="/index_en.html">
                    <img src="/IMG/iqissLogoNombre.png" alt="">
                </a>
                <a class="linkDescription" href="/index_en.html">
                    <span class="">Soluciones simples, efectivas y accesibles</span>
                </a>
            </div>

            <div class="buttonContact">
                <a class="" href="/views/contact_en.html">
                    <span class="badge badge-pill badge-primary p-2">
                        <img class="mr-1" src="/IMG/phone.png" alt="">
                        Contact
                    </span>
                </a>
            </div>
        </nav>

        <!--Páginas Web titulo-->
        <div class="mainTitleLandings text-center">
            <p class="h1">
                Get your website at the best price.
            </p>
            <p class="h4">
                Google search engine is the most visited site for searching
            </p>
        </div>

        <!--Banner Landings-->
        <div class="landingBanner">
            <div class="imgBanner">
                <div class="roundedDiv" style="background-image: url(../IMG/googlesearch.png);"></div>
            </div>
            <div class="infoBanner">
                <p class="h2 font-weight-bold">Improve your Internet visibility</p>
                <p class="h5">Google ranks better for businesses with a website and those that
                    distribute content, as well as those with a presence on social networks.</p>
                <a
                    class="border border-primary p-3 badge badge-pill"
                    href="/views/contact_en.html">Want a web site!</a>
            </div>
        </div>

        <!--SubTitle-->
        <div class="container SubTitle">
            <h1 class="font-weight-bold">Benefits</h1>
        </div>

        <!--Cards-->
        <div
            class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="../IMG/www.png" alt=""></h5>
                    <h5 class="card-title text-primary">Positioning</h5>
                    <p class="card-text" style="height: 85px;">Customers can find you in the
                        searches at the most visited Internet site: Google.com</p>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="../IMG/settings.png" alt=""></h5>
                    <h5 class="card-title text-primary">Automation</h5>
                    <p class="card-text" style="height: 85px;">Let website become people on real customers.</p>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="../IMG/customer.png" alt=""></h5>
                    <h5 class="card-title text-primary">Professional</h5>
                    <p class="card-text" style="height: 85px;">Offer professional attention and quality with professionalization.</p>
                </div>
            </div>

        </div>

        <!--Call To Action-->
        <div class="callToAction">
            <div class="callText">
                <p class="h2 font-weight-bold">¡Content is the best way to call attention!</p>
                <p class="h5">Posts in your web site is the best way to catch customers, Today
                    is a good day to create your web site!.</p>
            </div>
            <div class="callButton">
                <a
                    class="border border-primary p-3 badge badge-pill"
                    href="/views/contact_en.html">I want a web site</a>
            </div>
        </div>

        <!--Preguntas Frecuentes-->
        <div class="FrequentQuestions">
            <div class="FrequentQuestionsTitle">
                <p class="h2 font-weight-bold">FAQ'S</p>
            </div>
            <div class="FrequentQuestionsList">
                <section>
                    <h5>Pay Methods</h5>
                    <ul>
                        <li>
                            <span>You can pay in cash, SPEI transfer and with bank cards.</span></li>
                    </ul>

                    <h5>I need sign an agreement?</h5>
                    <ul>
                        <li>
                            <span>Yes, the contracts last one year, but it can be negotiated.</span></li>
                    </ul>

                    <h5>I have a web site, you can help me?</h5>
                    <ul>
                        <li>
                            <span>Yes, you need to contact us to review your site, all this for free.</span></li>
                    </ul>

                    <h5>Can i have a free trial?</h5>
                    <ul>
                        <li>
                            <span>No como tal, pero tenemos garantías para casos en que no te guste el
                                servicio, manejar políticas de devolución.</span></li>
                    </ul>

                    <h5>¿Tienen servicio en todo México?</h5>
                    <ul>
                        <li>
                            <span>Si, de manera presencial atendemos la ciudad de Colima y alrededores, el
                                resto del país a través de videollamada.</span></li>
                    </ul>
                </section>
            </div>
        </div>

        <!--Call To Action 2-->
        <div class="callToAction">
            <div class="callText">
                <p class="h2 font-weight-bold">Contact with us today</p>
                <p class="h5">Write us for more information and we'll contact with you as soon as possible</p>
            </div>
            <div class="callButton">
                <a
                    class="border border-primary p-3 badge badge-pill"
                    href="/views/contact_en.html">I want a web site</a>
            </div>
        </div>

        <!--Scripts JS de bootstrap-->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>