<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iqiss Mèxico</title>

        <!--EStilos CSS Personzalizados-->
        <link rel="stylesheet" href="../css/ownStyles.css">

        <!--EStilos CSS de Boostrap-->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!--Google Fonts Nunito-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

    </head>

    <body>

        <!--Barra de Navegaciòn-->
        <nav class="MainBar">

            <div class="brandDescription">
                <a class="" href="../index.html">
                    <img src="../IMG/iqissLogoNombre.png" alt="">
                </a>
                <a class="linkDescription" href="../index.html">
                    <span class="">Soluciones simples, efectivas y accesibles</span>
                </a>
            </div>

            <div class="buttonContact">
                <a class="" href="../views/contact.html">
                    <span class="badge badge-pill badge-primary p-2">
                        <img class="mr-1" src="../IMG/phone.png" alt="">
                        Contactanos
                    </span>
                </a>
            </div>
        </nav>




        <!--Páginas Web titulo-->
        <div class="mainTitleLandings text-center mt-5">
            <p class="h1">
                Adquiere tu pagina Web al mejor precio.
            </p>
            <p class="h4">
                El buscador Google es el sitio más visitado para realizar búsquedas.
            </p>
        </div>



         <!--Banner Landings-->
        <div class="landingBanner">
            <div class="imgBanner">
                <div class="roundedDiv">
                </div>
            </div>
            <div class="infoBanner">
                <p class="h2 font-weight-bold">Aumenta tu visibilidad en Internet</p>
                <p class="h5">Google raquea mejor a los negocios con sitio Web y aquellos que distribuyen contenido, así como los que tienen presencia en redes sociales.</p>
                <a class="border border-primary p-3 badge badge-pill" href="">Quiero una página web</a>
            </div>            
        </div>



         <!--Banner Landings-->
        <div
            class="container-fluid row m-0 pl-5 pr-5 d-flex justify-content-around tarjetas">

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="./IMG/web-programming.png" alt=""></h5>
                    <h5 class="card-title text-primary">Localización</h5>
                    <p class="card-text" style="height: 85px;">Tus clientes pueden encontrarte en las búsquedas del sitio en Internet con más visitas: Google.com</p>
                    <a href="./views/paginaweb.html" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="./IMG/chat.png" alt=""></h5>
                    <h5 class="card-title text-primary">Automatización</h5>
                    <p class="card-text" style="height: 85px;">Deja que la página Web atienda los prospectos y los convierta en clientes.</p>
                    <a href="#" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
                </div>
            </div>

            <div class="text-center col-lg-3 mt-sm-5 cardService">
                <div class="card-body">
                    <h5 class="card-title"><img src="./IMG/bot.png" alt=""></h5>
                    <h5 class="card-title text-primary">Profesionalización</h5>
                    <p class="card-text" style="height: 85px;">Automatiza el proceso de atención y
                        desarrolla un embudo de ventas con un robot que utiliza inteligencia artificial.</p>
                    <a href="#" class="badge badge-pill border border-primary p-2">Saber Màs . . .</a>
                </div>
            </div>

        </div>


        <!--Pie de pàgina-->
        <div class="footer">
            <div class="mainFooter">
                <div class="leftContent">
                    <div class="nosotrosTitle">
                        <p>Nosotros</p>
                    </div>
                    <div class="nosotrosInfo">
                        <div class="one">
                            <p>
                                <img src="../IMG/phoneBLue.png" alt="iqiss telefono">
                                +52 314 156 0219
                            </p>
                            <p>
                                <img src="../IMG/time.png" alt="iqiss horario">
                                Horario 9:00 - 18:00 HRS
                            </p>
                        </div>
                        <div class="one">
                            <p>
                                <img src="../IMG/map.png" alt="iqiss ubicacion">
                                Villa de Alvarez, Colima, MX

                            </p>
                            <p>
                                <img src="../IMG/email.png" alt="iqiss email">
                                servicioalcliente@iqissmexico.com.mx
                            </p>
                        </div>
                    </div>
                </div>
                <div class="rightContent">
                    <p>Copyright © 2022 IQISS Mexico</p>
                </div>
            </div>
        </div>

        <!--Scripts JS de bootstrap-->
        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>